<div class="container limited">
  <div class="row">
    <div class="jumbotron bchoose col-lg-4">
      Ajouter une nouvelle catégorie
    </div>
    <div class="jumbotron bchoose col-lg-4">
      Ajouter une nouvelle activité
    </div>
    <div class="jumbotron bchoose col-lg-4">
      Autre chose
    </div>
    <div class="jumbotron bchoose col-lg-4">
      Autre chose
    </div>
    <div class="jumbotron bchoose col-lg-4">
      Autre chose
    </div>
    <div class="jumbotron bchoose col-lg-4">
      Autre chose
    </div>
  </div>

</div>
